@{
    ViewData["Title"] = "Home Page";
}
<header>
    <h2>Gioi Thieu</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/Trang-Chu">Trang Chu</a></li>
            <li><a href="~/Gioi-Thieu-Nhom">Gioi Thieu Nhom</a></li>
            
        </ul>
    </nav>

    <article>
        <h1>NGUYỄN HỒNG DIỄM ANH</h1>
        <p></p>
        <img src="~/images/Image.jpg" width=300px height=200px alt="Loi hien thi"/>
        
    </article>
</section>

<footer>
    <p>CopyRight &copy;nguyễn hồng diễm anh </p>
</footer>


